.step-indicator {
    background: none;
    /* Remove background */
    border: none;
}

.step-indicator.vertical {
    width: 200px;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    overflow: hidden;
    transition: width 0.3s;
}

.step-indicator.vertical.collapsed {
    width: 50px;
    background: none;
    /* Ensure no background when collapsed */
}

.step-indicator.horizontal {
    width: auto;
    display: flex;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.toggle-button {
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
    color: #575757;
}

.overall-title {
    display: flex;
    align-items: center;
    gap: 10px;
    color: #5d6f6c;
    margin-left: 0px;
}

.overall-title.hidden {
    display: none;
}

.step-list-container {
    width: 100%;
}

.step-list {
    width: 100%;
}

.step-list .list-group-item {
    display: flex;
    align-items: center;
    gap: 10px;
    border: none;
    color: #5d6f6c;
}

.active-step {
    background-color: rgb(236, 236, 236) !important;
    border-color: rgb(236, 236, 236) !important;;
}

.group-title {
    font-weight: bold;
    color: #5d6f6c;
    margin-left: 10px;
    /* Ensure alignment */
    font-size: 14px;
}

.text-danger {
    color: red;
}

.step-label {
    font-size: 14px;
    color: #5d6f6c;
}