.step-indicator {
    /* No background and borders */
    background: none;
    border: none;
}

.step-indicator.vertical {
    width: 250px;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    overflow: hidden;
    transition: width 0.3s;
}

.step-indicator.vertical.collapsed {
    width: 50px;
}

.step-indicator.horizontal {
    width: auto;
    display: flex;
}

.toggle-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

.toggle-button {
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
    color: #575757;
}

.overall-title {
    display: flex;
    align-items: center;
    gap: 10px;
    color: #5d6f6c;
}

.step-list {
    padding-top: 30px;
    width: 100%;
}

.step-list .list-group-item {
    display: flex;
    align-items: center;
    gap: 10px;
    color: #5d6f6c;
}

.active-step {
    background-color: rgb(236, 236, 236);
    border-color: rgb(236, 236, 236);
}

.group-title {
    font-weight: bold;
    color: #5d6f6c;
    margin-left: 20px;
}

.text-danger {
    color: red;
}