/* StepIndicator.css */
.step-indicator.vertical {
    width: 250px;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    background: #f8f9fa;
    border-right: 1px solid #dee2e6;
    overflow: hidden;
    transition: width 0.3s, background-color 0.3s;
}

.step-indicator.vertical.collapsed {
    width: 50px;
    background-color:rgb(236, 236, 236) !important;
}

.step-indicator.horizontal {
    width: auto;
    background: none;
    border: none;
    display: flex;
}

.toggle-container {
    display: flex;
    justify-content: flex-end;
    padding: 10px;
}

.toggle-button {
    background: none;
    border: none;
    font-size: 20px;
    padding: 5px;

    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0px;
    right: 10px;
    z-index: 1;
    color: rgb(63, 63, 63);

}

.step-list {
    padding-top: 20px;
    width: 100%;
}

.step-list .list-group-item {
    display: flex;
    align-items: center;
    gap: 10px;
    color: rgb(63, 63, 63);
}

.step-list .list-group-item i {
color: rgb(63, 63, 63);
}

.active-step {
    background-color: rgb(236, 236, 236) !important;
    border-color:rgb(236, 236, 236) !important;
}